// Custom divider
//--------------------------------------------------
.cms-divider {
    display: block;
    margin-bottom: 20px;
    font-size: 0;
    line-height: 0;
    border-color: #1B1A1A;
    > span {
        display: inline-block;
        border-color: inherit;
        text-indent: -9999px;

        &:before,
        &:after {
            content: '';
            display: block;
            position: relative;
            border-color: inherit;
            border-style: solid;
        }
    }

    &.divider-horizontal {
        > span {
            margin-right: 1px;
            &:before,
            &:after {
                width: 9px;
                border-width: 1px 0 0 0;
            }
            &:before {
                left: 1px;
            }
        }
    }

    &.divider-vertical {
        height: 30px;
        > span {
            position: relative;
            &:before,
            &:after {
                border-width: 0 0 0 1px;
                height: 9px;
            }
            &:after {
                top: -8px;
                left: 1px;
            }
            &:nth-child(1) {
                left: 1px;
            }
            &:nth-child(2) {
                left: 0;
                top: 10px;
            }
            &:nth-child(3) {
                left: -1px;
                top: 20px;
            }
        }
    }

    &.divider-light {
        border-color: #FAFAFA;
    }
}

.widget-title {
    .cms-divider {
        margin-top: 6px;
    }
}

.cms-divider-wrapper {
    margin-bottom: 30px;
    .cms-divider {
        margin-bottom: 0;
    }
}

// Carousel navigations
//--------------------------------------------------
.owl-nav {
    @include clearfix();
    > .owl-prev,
    > .owl-next {
        width: 36px;
        height: 36px;
        border: 2px solid transparent;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        @include transition( color 250ms, border-color 250ms, opacity 250ms );

        &:hover {
            border-color: #222;
            opacity: 1;
            color: #222;
        }
    }

    > .owl-prev {
        float: left;
    }

    > .owl-next {
        float: right;
    }
}
.owl-item.active {
    .testimonial-carousel-item {
        opacity: 1;
    }
}
.owl-controls {
    text-align: center;
}
.owl-pagination {
    font-size: 0;
    line-height: 0;
    .owl-page {
        display: inline-block;
        padding: 4px 2.5px;      

        > span {
            display: block;
            width: 16px;
            height: 2px;
            background-color: #222;
            opacity: 0.7;
            @include transition( background-color 250ms, opacity 250ms );
        }
        &:hover,
        &.active {
            > span {
                opacity: 1;
                background-color: $color_primary;
            }
        }
    }
}