$color__behance:        #1769FF;
$color__dribbble:       #EA4C89;
$color__facebook:       #3B5998;
$color__flickr:         #0063DC;
$color__github:         #6CC644;
$color__google:         #DB4437;
$color__instagram:      #3F729B;
$color__linkedin:       #00A0DC;
$color__pinterest:      #BD081C;
$color__reddit:         #5f99cf;
$color__rss:            #F26522;
$color__skype:          #00AF00;
$color__tumblr:         #35465C;
$color__twitter:        #55ACEE;
$color__vimeo:          #1AB7EA;
$color__vk:             #45668e;
$color__yahoo:          #410093;


$line_height_13:        1.7692307692; // 23/13;
$line_height_x14:       1.7142857143; // 24/14
$line_height_15:        1.6; // 24/15;
$line_height_x15:       1.6666666667; // 25/15;
$line_height_17:        1.5882352941; // 27/17;
$line_height_x17:       1.5294117647; // 26/17
$line_height_general:   1.5;
$line_height_heading_general: 1.25;

$margin_13:             32px;
$margin_15:             24px;
$margin_17:             27px;
$margin_x17:            26px;